
<br>
<br>

<!-- starts breadcrumb -->
BREADCRUMB | Widget :: dte-breadcrumb <hr>
<dte-breadcrumb></dte-breadcrumb>
<!-- ends breadcrumb -->

<hr>

<!-- start header -->
<div class="container">
  PROJECTS | Widget :: dteMainMonitor <hr>
  <div class="jumbotron">
    <dte-main-monitor name="projects" enviroment="true"></dte-main-monitor>
  </div>
</div>
<!-- start header -->

<hr>

<!-- start main monitor ENVIROMENTS / APLICATIONS -->
<div class="container">
  ENVS / APPS | Widget :: dteMainMonitor <hr>
  <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6">
          <dte-main-monitor name="enviroments" enviroment="false"></dte-main-monitor>
        </div>
        <div class="col-sm-6">
          <dte-main-monitor name="aplications" enviroment="true"></dte-main-monitor>
        </div>
      </div>
  </div>
</div>
<!-- ends main monitor ENVIROMENTS / APLICATIONS -->

<hr>

<!-- starts SIGNATURES monitor -->
<div class="container">
  SIGNATURES | Widget :: dteFunctionsMonitor <hr>
    <div class="jumbotron">

      <div ng-repeat="item in vm.signatures">
        <uib-accordion>
          <div uib-accordion-group
              ng-init="status.open=!$ctrl.collapsed"
              class="panel-info"
              is-open="status.open"
              is-disabled="status.disabled">
              <uib-accordion-heading>
                <h4 class="clearfix">
                  <span ng-bind="item.name"></span>
                  <i class="pull-right glyphicon"
                  ng-class="{'glyphicon-chevron-down': status.open,
                  'glyphicon-chevron-right': !status.open}"></i>
                </h4>
              </uib-accordion-heading>
              <dte-functions-monitor
              name="{{item.name}}"
              functions="item.functions"
              collapsed="false"
              classes="dte-function-monitor__control-width"
              fields="name,state">
            </dte-functions-monitor>
          </div>
        </uib-accordion>
      </div>

    </div>
</div>
<!-- ends SIGNATURES monitor -->

<hr>

<!-- starts TESTS monitor -->
<div class="container">
  TESTS | Widget :: functionsMonitor <hr>
    <div class="jumbotron"></div>
</div>
<!-- ENDSs TESTS monitor -->

<hr>

<!-- starts SIGNATURES DETAILS monitor -->
<div class="container">
  SIGNATURES | Widget :: functionsMonitor <hr>
  <div class="jumbotron">
    <div ng-repeat="item in vm.signatures">
      <dte-functions-monitor
      name="{{item.name}}"
      functions="item.functions"
      collapsed="false"
      fields="isEnabled,name,state"></dte-functions-monitor>
      <br>
    </div>
  </div>
</div>
<!-- ends TESTS monitor -->
