  <table class="table table-striped dte-function-monitor--table">

    <!-- starts heading table -->
    <thead>
      <tr>
          <th ng-repeat="th in $ctrl.rowsHeading">
            <strong class="capital" ng-bind="th"></strong>
          </th>
      </tr>
    </thead>
    <!-- ends heading table -->

    <!-- starts body table -->
    <tbody>
      <tr ng-repeat="function in $ctrl.functions">

        <!-- starts watch this function -->
        <td class="text-center" ng-if="$ctrl.showField('isEnabled')">
          <span class="btn btn-default btn-xs"
              ng-click="$ctrl.toggleEnabled(function)">
              <i class="fa"
                    ng-class="{'fa-check-square-o' : function.isEnabled,
                              'fa-square-o' : !function.isEnabled}"></i>
          </span>
        </td>
        <!-- endss watch this function -->

        <!-- starts name function -->
        <td ng-if="$ctrl.showField('name')">
          <a href="#" ng-bind="function.name"></a>
        </td>
        <!-- starts name function -->

        <!-- starts status function -->
        <td class="text-center">
          <span class="label"
              ng-class="{'label-warning':function.state=='warning',
                          'label-danger':function.state=='danger',
                          'label-success':function.state=='success'}">
            <i class="dte-monitor--state fa"
            ng-class="{'fa-warning':function.state=='warning',
                        'fa-fire':function.state=='danger',
                        'fa-check':function.state=='success'}"></i>
          </span>
        </td>
        <!-- ends status function -->

        <!-- starts options function -->
        <td class="text-center" ng-if="$ctrl.showField('options')">
          <dte-monitor-options name="{{$ctrl.name}}"></dte-monitor-options>
        </td>
        <!-- starts options function -->

      </tr>
    </tbody>
    <!-- starts body table -->

  </table>
