$monitorWitdh : 480px ;

.rfc-header{
  h1 {
    font-size:1em ;
  }
}

.rfc-main-monitor{
  max-width:$monitorWitdh ;
  margin:0 auto ;
  .rfc-main-monitor--state {
    min-width:30px
  }
}

.rfc-function-monitor{
  min-width:$monitorWitdh
}
